<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chuck Facts</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <style>
       .highlight {
           background: rgb(230, 250, 51)
       }
       .info {
           background: rgb(248, 246, 246)
       }
   </style>
</head>
<body> 
    <div id="chuck" class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">{{appName}}</h1>
                <hr class="my-4">
                <p class="lead">Get a random Chuck Norris fact or search for a phrase!</p>
            </div>
        </div>
        <div class="row, container">
            <!--Left-side Search Queery-->
            <div class="col-lg-6">
                <select v-model="choice">
                    <option value=''>Any</option>
                    <option v-for="category in categories">
                        {{category}}
                    </option>
                </select>
                <button v-on:click="retrieveFact" class="btn btn-primary">Get fact</button>
                <template v-if="factDisplayed">
                    <h5 v-show="isFetching">Fetching...</h5>
                    <h4>Displaying a fact</h4>
                </template>
                <!-- <h4 v-if="factDisplayed">Search Results</h4> -->
                
                <p v-if="factDisplayed" class="info">{{randFact}}</p>
            </div>
            <!--Right-side Search Queery-->
            <div class="col-lg-6">
                <input type="text" v-model="query" placeholder="Enter a keyword/phrase to search for">
                <button v-on:click="retrieveList" class="btn btn-primary">Search</button>
                <template v-if="listDisplayed">
                    <h5 v-show="isFetching">Fetching...</h5>
                    <h4>Search Results</h4>
                </template>
                <!-- <h4 v-if="listDisplayed">Search Results</h4> -->
                
                <ol v-if="listDisplayed" class="info">
                    <li v-for="obj in list" v-html="$options.filters.highlight(obj, query)"></li>
                </ol>
            </div>
        </div>
    
    </div>
    
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>